{% extends 'listapp/base.html' %}

{% block content %}
  <table class="table table-dark table-striped">
    <tr>
      <th scope="col" style="width: 5%">#</th>
      <th scope="col" style="width: 15%">title</th>
      <th scope="col" style="width: 51%">description</th>
      <th scope="col" style="width: 15%">task status</th>
      <th scope="col" style="width: 7%">edit</th>
      <th scope="col" style="width: 7%">remove</th>
    </tr>
    {% for task in tasks %}
    <tr>
      <th scope="col">{{ forloop.counter }}</th>
      <th scope="col"><a class="text-decoration-none text-reset" href="{% url 'show_task' task.pk %}">{{ task.title }}</a></th>
      <th scope="col"><a class="text-decoration-none text-reset" href="{% url 'show_task' task.pk %}">{{ task.description }}</a></th>
      {% if task.is_complete %}
        <th scope="col">Complete</th>
      {% else %}
        <th scope="col">Task is not complete</th>
      {% endif %}
      <th scope="col"><a class="text-decoration-none text-reset" href="{% url 'update' task.pk %}">update</a></th>
      <th scope="col"><a class="text-decoration-none text-reset" href="{% url 'delete' task.pk %}">delete</a></th>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
